.i-form{
    margin: auto;
    margin-bottom: 30px;
    display: block; 
    width: 300px;
    border: none;
    height: 600px;
}
.results{
        text-align: center;
        width: 90%;
        margin:auto;
}